* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(187, 184, 184);
}

footer a {
    text-decoration: none;
}

.btn-wrap {
    display: flex;
    align-items: center;
}

.btn-color {
    background-color: rgb(31, 114, 31);
    color: var;
    padding: 5px 8px;
    margin-right: 10px;
}

.content {
    text-align: justify;
}