* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer a {
    text-decoration: none;
}

.btn-wrap {
    display: flex;
    align-items: center;
}

.btn-color {
    background-color: rgb(31, 114, 31);
    padding: 5px 10px;
    margin-right: 10px;
    color: #fff;
}

.content {
    text-align: justify;
}

.carousel-item {
    border-radius:5px
}